.jumbotron {
  background-color: #b1b5b4;
  color: black;
  margin-top: 50px;
  margin-top: 50px;
  margin-bottom: 10px; }

.card-hotel {
  flex: 1 150px;
  margin-top: 50px;
  margin-bottom: 10px; }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

footer {
  padding: 10px 10px 0px 10px;
  background-color: #b1b5b4;
  margin-top: 50px;
  margin-bottom: 10px; }

.footer_adress_icon {
  padding-right: 10px; }

#imagenes {
  height: 250px; }

.carrusel_img {
  height: 630px; }

.tab-content {
  padding-top: 10px; }
