$darkLigth:#b1b5b4;
$yellow:yellow;
$green:green;




@mixin margenes($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
    
}

.jumbotron{
    background-color: $darkLigth;
    color: black;
    margin-top: 50px;
    @include margenes(50px,10px )
    
}


.card-hotel{
    flex:1 150px;
    @include margenes(50px,10px )
}

.btn-reserva{
    width: 100%;
    border-radius: 0px;
}
footer{
    padding: 10px 10px 0px 10px;
    background-color: $darkLigth;
    @include margenes(50px,10px )
}

.footer_adress_icon{
    padding-right: 10px;
}

#imagenes{
    height: 250px;
}

.carrusel_img{
    height:630px;
}

.tab-content{
    padding-top: 10px;
}